<main>
    <section class="main-container  mc__auth">
    <article class="sub-container sc__auth">
        <h3 class="title" id="title-auth">Sign In</h3>
       <input type="text" class="input" id="signin-user" placeholder="Username">
        <input type="text" class="input" id="signin-pw" placeholder="Password">
        <button id="signin-btn" class="submit-btn">Submit</button>
    </article>

    <article class="sub-container sc__auth">
        <h3 id="title-auth" class="title">Sign up</h3>
        <input type="text" class="input" id="signup-user" placeholder="Username">
        <input type="text" class="input" id="signup-pw" placeholder="Password">
				<input type="text"id="signup-email" class="input" placeholder="Email">
        <button id="signup-btn" class="submit-btn">Submit</button>

    </article>
</section>
  
</main>

<script src='./js/auth.js'></script>