<section class="auth-card">
    <article class="signin-card">
        <h3>Sign In</h3>
       <input type="text" class="usernameinput" placeholder="Username">
        <input type="text" class="password" placeholder="Password">
        <button class="submit">Submit</button>
    </article>

    <article class="signup-card">
        <h3>Sign up</h3>
        <input type="text" class="usernameinput" placeholder="Username">
        <input type="text" class="password" placeholder="Password">
        <button class="submit">Submit</button>

    </article>
</section>