<section class="auth-card">
    <article class="login-card">
        <input type="text" class="username">
        <input type="text" class="password">
        <button class="submit">Submit</button>
    </article>

    <article class="login-card">
        <input type="text" class="username" placeholder="Username">
        <input type="text" class="password" placeholder="Password">
        <button class="submit">Submit</button>

    </article>
</section>