<div class="main-container mc--dashboard">
    <section class="profile">
        <h3 class="username">{{memberPlain.username}}</h3>
        <div class="profile-picture"><img src="/images/userImg.png" alt="" class="portrait"></div>
        <div id="oneline">
            <button class="followers-btn">Followers</button>
            <button class="following-btn">Following</button>
        </div>
    </section>

    <section class="sub-container">
        <h3 class="title">My Events</h3>
        {{#each attendingEventsPlain as |event|}}
        <p class="event">{{event.title}}</p>
        {{/each}}
    </section>
</div>

<div class="main-container mc--dashboard">
    <section class="sub-container">
        <h3 class="title">Managed Events</h3>
        {{#each createdEventsPlain as |event|}}
        <div id="oneline">
        <div class="event"><p>{{event.title}}</p>
        <button class="edit-btn">Edit</button></div>
        </div>
        {{/each}}
    </section>
</div>

    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>

<div class="modal">

    <div class="modal-content">
            <!-- <span class="close">&times;</span> -->
<div id="oneline--close-modal">
        <h2 id="modal-title" class="title">text here</h2>
<button class="close">x</button>
</div>
        <ul id="friendList">
        </ul>
    </div>
</div>
<script src="/js/contacts.js"></script>