    <section class="main-container mc__homepage">
        <h1 class="title section-title">Events</h1>
        <article class="sub-container sc__homepage">
        <div class="event-collection">
        {{#each events}}
            <a href="/event/{{id}}">
                <div class="event-card">
                    <h3 class="title">{{title}}</h3>
                    <h3>{{description}}</h3>
                </div>
            </a>
        {{/each}}
        </div>
        </article>
</section>