<section class="search-container">
    <p class="search-identifier"></p>
    <h3 class="search-title">
        <article class="search-results-card">
            <p class="result">{{sResults.name}}<button class="invite-btn">Invite</button><button class="follow-btn">Follow</button></p>
        </article>
    </h3>
</section>