    <section class="main-container mc__auth">
    <p class="search-identifier"></p>
    <h3 class="search-title"></h3>
        <article id="member-container" class="sub-container sc__auth">
            <h3>Search User</h3>
            <input type="search" class="search input" id="memSearch" placeholder="Search">
            {{!-- <button class="submit-btn" id="memReq">Submit</button> --}}
						<ul class="list search-results">
  	     			{{#each members}}
  	     			<li class="event quick-fix2">
							{{!-- <p class="membername">{{username}}</p> --}}
  	     			<a class="membername" href="/dashboard/{{id}}">{{username}}</a>
  	     	    {{!-- <button class="followers-btn">Unfollow</button> --}}
  	     			</li>
  	     			{{/each}}
						</ul>
        </article>

        <article id="event-container" class="sub-container sc__auth">
            <h3>Search Event</h3>
            <input type="search" class="search input" id="eventSearch" placeholder="Search">
            {{!-- <button class="submit-btn" id="eventReq">Submit</button> --}}
						<ul class="list search-results">
 	      			{{#each events}}
 	      			<li class="event quick-fix2">
 	      			<a class="eventtitle" href="">{{title}}</a>
 	      			</li>
							{{/each}}
						</ul>
        </article>
</section>

<div class="circle1"></div>
<div class="circle2"></div>
<div class="circle3"></div>

<script src="js/searchlistjs.js"></script>