<main>
    <section class="mc--search mc--auth1">
    <p class="search-identifier"></p>
    <h3 class="search-title"></h3>
        <article class="sub-container mc--auth">
            <h3>Search User</h3>
            <input type="text" class="password" id="login-pw" placeholder="Search">
            <button class="submit" id="userReq">Submit</button>
        </article>

        <article class="sub-container mc--auth">
            <h3>Search Event</h3>
            <input type="text" class="password" id="sEvent" placeholder="Search">
            <button class="submit" id="eventReq">Submit</button>
        </article>
</section>
</main>