@font-face {
    font-family: myFirstFont;
    src:url("../font/fof/fofbb_reg.ttf");
}

* {
    /* font-family: 'MonteCarlo', cursive; */

    /* --gradient: linear-gradient(
         #00ffdd,         
         #00ffdd,         
         #00ffdd,         
         #00f7ff
    );    */

    /* --gradient: linear-gradient(
        #f949ff,    
        #f949ff,    
        #ff49ad,    
        #ff49ad,    
        #ffed84
   ); */

    /*background 1*/
    /* --gradient: linear-gradient(
       #b600b6,
       #b600b6,
       #db1bdb,
       #db1bdb,
       #f866f8,
       #f8b466
   ); */

    --gradient: linear-gradient(#ffa33a,
            #b600b6,
            #b600b6,
            #b600b6);

    --glass-thin: #aca7f62c;
    --glass-thick: #aca7f669;

    --primary: #aca7f686;
    --secondary: #93ffe8ab;
    --accent: white;
    --accentO: #ffffff80;
    --invert: #570057;

    --circle: #ffffff1a;

}

html {
    height: 100%;
}

body {
    margin: 0;
    background: #ddd;
    background-image: var(--gradient);
    /* background-repeat: no-repeat;
    min-height: 100%;
    background-position: center; */
    /* background-size: cover; */

    /* background-size: 200%; */
    /* animation: bga 5s infinite alternate; */
}

@keyframes bga {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

main {
    justify-content: center;
    align-items: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin: 5%;
}

/*------ NAV BAR ------- */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    /* background-color: var(--glass-thick); */
    /* background-color: var(--primary); */
    color: var(--accent);
    padding: 0px 100px;
    /* box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.5),
                2px 2px 10px 5px rgba(255, 255, 255, 0.2);      */
    position: sticky;
}

.main-title {
    float: left;
    color: var(--accent);
    transition: .4s ease-out;
    border-radius: 15px;
    padding: 5px 10px;
    letter-spacing: 2px;
    font-family: myFirstFont;
}

.main-title:hover {
    color: var(--invert);

    box-shadow: 0px 0px 15px 15px var(--secondary);
    background-color: var(--secondary);
    
    
    /* box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.3),
    0px 0px 15px 15px rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.5); */
}


.nav {
    float: right;
}

.nav ul {
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav li {

    display: inline-block;
    margin-left: 50px;

    position: relative;

}

.nav a {
    color: var(--accent);
    transition: .2s ease-in-out;
    /* height: fit-content; */
}

.nav a:hover {
    cursor: pointer;
    /* background-color: var(--accent); */
    color: var(--invert);
}

/* ------ HBS: hopePage ----- */
.main-container {
    position: relative;
    margin-bottom: 50px;
    background-color: var(--glass-thick);

    border-radius: 15px;

    width: 80vw;

    color: var(--accent);
    z-index: 5;
    font-size: larger;
    backdrop-filter: blur(2px);
}

.mc--homepage {
    padding: 20px 50px;
    height: 80vh;
    text-align: center;

}

.mc--dashboard,
.mc--auth1 {
    display: flex;
    flex-direction: row;
    height: fit-content;
    padding: 30px;
}

.event {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    float: left;
    justify-content: space-between;
    width: 100%;
    color: var(--accent);
    letter-spacing: 2px;
    padding-left: 10px;
    transition: .4s ease-in-out;
    border-radius: 15px;
}

.event:hover {
    color: var(--invert);

    box-shadow: 0px 0px 5px 5px var(--accentO);
    background-color: var(--accentO);
    border-radius: 15px;
}

/* IDEA FOR HOVER EFFECT */
/* .event:hover {
    box-shadow: 0px 0px 5px 5px var(--secondary);
    background-color: var(--secondary);

} */

.circle1,
.circle2,
.circle3,
.circle4 {
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    top: 150px;
    left: -150px;
    height: 350px;
    width: 350px;
    background-color: var(--circle);

}

.circle2 {
    bottom: 15px;
    right: 200px;
    height: 300px;
    width: 300px;
    background-color: var(--circle);


}

.circle3 {
    top: 300px;
    right: 50px;
    height: 150px;
    width: 150px;
    background-color: var(--circle);

}

/* .circle4 {
    bottom: 100px;
    left: 100px;
    height: 150px;
    width: 150px;
    background-color: var(--circle);

} */

/* -------- dashboard -------- */

.profile {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 30px;

}

.username {
    font-size: larger;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    /* color: var(--accent); */
    font-family: myFirstFont;

}

.profile-picture img {
    height: 100px;
    width: 100px;
    background-color: var(--accent);
    border-radius: 50%;
    margin-bottom: 20px;
}

.followers-btn,
.following-btn {
    margin: 5px;
    background-color: var(--primary);
    color: var(--accent);
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: .3s ease-in-out;

}

.followers-btn:hover,
.following-btn:hover {
    cursor: pointer;
    background-color: var(--accent);
    color: var(--invert);
}

.sub-container {
    background-color: var(--secondary);
    border-radius: 15px;
    justify-content: start;
    padding: 20px 40px;
    margin: 0px;
    width: 100%;
    color: var(--accent);

}

.title {
    text-align: center;
    font-size: larger;
    letter-spacing: 2.5;
    border-bottom: 1px solid var(--accent);
    line-height: 2rem;
    font-family: myFirstFont;
}

#oneline,
#oneline--close-modal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#oneline--close-modal {
    padding: 0 15%;
}

.edit-btn {
    background-color: var(--primary);
    color: var(--accent);
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: .3s ease-in-out;
}

.edit-btn:hover {
    cursor: pointer;
    background-color: var(--accent);
    color: var(--invert);
}

/* the modal (background) */
.modal {
    /* hidden by default */
    display: none;
    /* stay in place */
    position: fixed;
    /* sit on top */
    z-index: 5;
    /* padding on all sides*/
    padding-top: 100px;
    /* location of the box */
    left: 0;
    /* location of the box */
    top: 0;
    /* full width */
    width: 100%;
    /* full height */
    height: 100%;
    /* black with opacity */
    background-color: rgba(172, 167, 246, 0.3);
    backdrop-filter: blur(5px);
}

.modal-content {
    margin: auto;
    width: 50%;
    height: 50%;
    border: 5px solid var(--invert);
    border-radius: 15px;
    color: var(--accent);
    padding-top: 15px;
}

.close {

    cursor: pointer;
    background-color: transparent;
    color: vaR(--accent);
    font-size: 2rem;
    border: none;
    transition: .3s ease-in-out;
    width: fit-content;
    height: fit-content;
    padding: 0 10px;
    border-radius: 50%;
}

.close:hover {
    color: var(--invert);
    background-color: var(--secondary);
    box-shadow: 0px 0px 5px 5px var(--secondary);
}

/* 50 lines up */
.mc--auth {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.usernameinput,
.password {
    margin: 5px;
    padding: 5px;
    border: none;
    color: var(--invert);
    background-color: var(--accent);
    border-radius: 15px;
}

.usernameinput::placeholder,
.password::placeholder {
    letter-spacing: 1px;
    color: var(--invert);
    opacity: .5;
}

.submit {
    width: fit-content;
    align-self: center;
    margin: 10px;
}

.submit {
    background-color: var(--primary);
    color: var(--accent);
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: .5s ease-in-out;
}

.submit:hover {
    cursor: pointer;
    background-color: var(--accent);
    color: var(--invert);
}

.large {
    font-size: 50px;
    padding-bottom: 10px;
}
