@font-face {
    font-family: feastOfFlesh;
    src: url("../font/fof/fofbb_reg.ttf");
}

* {

    font-family: 'Comic Neue', cursive;
font-family: 'Major Mono Display', monospace;
font-family: 'Open Sans', sans-serif;


    /* font-family: 'MonteCarlo', cursive; */

    /* --gradient: linear-gradient(
         #00ffdd,         
         #00ffdd,         
         #00ffdd,         
         #00f7ff
    );    */

    /* --gradient: linear-gradient(
        #f949ff,    
        #f949ff,    
        #ff49ad,    
        #ff49ad,    
        #ffed84
   ); */

    /*background 1*/
    /* --gradient: linear-gradient(
       #b600b6,
       #b600b6,
       #db1bdb,
       #db1bdb,
       #f866f8,
       #f8b466
   ); */
    --topGradient: #97fcff;
    --mainGradient: #2c0072;

    --gradient: linear-gradient(
        var(--topGradient),
        var(--mainGradient),
        var(--mainGradient),
        var(--mainGradient),
        var(--mainGradient)
            );

    --text__invert: rgb(255, 255, 255);
    --text__main: #2e2e2e;
    --text__title: #2e2e2e;
    --text__section-title: #ffffff;
    /* --text__section-title: rgb(255, 0, 85); */
    --text-light: white;
    --text-dark: #570057;
    --text__logo: #ff5e00;

    --shadow: #ffffff2d;
    --shadow1: rgba(0, 0, 0, 0.1);
    --shadow2: rgba(0, 0, 0, 0.2);
    --shadow3:rgba(0, 0, 0, 0.3);
    --shadow4: rgba(0, 0, 0, 0.4);
    --shadow45:rgba(0, 0, 0, 0.45);

    --primary: #8880ff66;
    /* --primary: #8880ff66; CURRENT */
    /* --primary: #ada7f686; */
    --secondary: #97fcffd7;
    --invert: #8880ff;
    /* --secondary: #94ffe8bf; CURRENT */
    /* --accent: rgb(0, 187, 56);
    --accentO: #ff9d00; */
    
  


    --base: white;
    /* --invert: #aca7f6; */
    /* --text-dark: black; */

        /* MAIN GRADIENT */
    /* saved orange: #ffa33a,
    --gradient: linear-gradient(#ffa33a,
            #b600b6,
            #b600b6,
            #b600b6); */
    /* MAIN GRADIENT */


    --add-color: #00fb3f;
    --add-gradient: linear-gradient(45deg,
    #00fb3f,
    #00fb3f,
    #5aff83,
    #92ffad,
    #53ff7e,
    #00fb3f,
    #00fb3f);

    --delete-color: #ff3a3a;
    --delete-gradient: linear-gradient(45deg,
    #ff3a3a,
    #ff3a3a,
    #ff6f6f,
    #ffb9b9,
    #ff6f6f,
    #ff3a3a,
    #ff3a3a);

    --edit-color: #ffa33a;
    --edit-gradient: linear-gradient(45deg,
    #ffa33a,
    #ffa33a,
    #ffbe73,
    #ffdeb8,
    #ffbe73,
    #ffa33a,
    #ffa33a);

    --submit-color: #3a75ff;
    --submit-gradient: linear-gradient(45deg,
    #0004ff,
    #0004ff,
    #3a3dff,
    #9798ff,
    #3a3dff,
    #0004ff,
    #0004ff);

    --glass__thin: #aca7f62c;
    --glass__thick: #aca7f669;

    --circle: #ffffff1a;

    font-size: 20px;

}

html {
    height: 100%;
}

body {
    margin: 0;
    background: #ddd;
    background-image: var(--gradient);
    background-repeat: no-repeat;
    background-color: var(--mainGradient);
}

@keyframes bga {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

main {
    justify-content: center;
    align-items: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin: 5%;
}

/*------ NAV BAR ------- */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    /* background-color: var(--glass-thick); */
    /* background-color: var(--primary); */
    color: var(--text__section-title);
    padding: 0px 100px;
    /* box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.5),
                2px 2px 10px 5px rgba(255, 255, 255, 0.2);      */
    position: sticky;
}

.nav__title {
    float: left;
    color: var(--text__logo);
    transition: .4s ease-out;
    border-radius: 15px;
    padding: 5px 10px;
    letter-spacing: 2px;
    font-family: feastOfFlesh;
    -webkit-text-stroke: 1px #000000;
    font-size: 40px;
}

.nav__title:hover {
    color: var(--invert);
    -webkit-text-stroke: 1px var(--invert);
    /* box-shadow: 0px 0px 15px 15px var(--shadow);
    background-color: var(--secondary); */
    -webkit-text-stroke: 1px #000000;

    /* box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.3),
    0px 0px 15px 15px rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.5); */
}


.nav {
    float: right;
}

.nav ul {
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav li {

    display: inline-block;
    margin-left: 30px;

    position: relative;

}

.nav a {
    color: var(--text__main);
    transition: .2s ease-in-out;
    /* height: fit-content; */
}

.nav a:hover {
    cursor: pointer;
    /* background-color: var(--accent); */
    color: var(--text__logo);
}

/* ------ CONTAINERS ----- */
.main-container {
    position: relative;
    margin-bottom: 50px;

    border-radius: 15px;
    background-color: var(--glass__thick);
    /* color: var(--text__main); */
    font-size: larger;
    backdrop-filter: blur(5px);
    z-index: 5;

    box-shadow: inset 0 0 15px 15px var(--shadow);

}

.sub-container {
    border-radius: 15px;
    padding: 20px;

}

/* -------- AUTH CONTAINER -------- */
.mc__auth {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
}

@media (max-width: 45em) {
    .mc__auth {
        grid-auto-flow: row;
    }
}

.sc__auth {
    margin: 40px;
    display: grid;
    grid-template-areas: "title""input""submit";
    background-color: var(--secondary);
    justify-items: center;
}

#signin-form {
    justify-content: center;
    justify-items: center;
}

#title-auth {
    grid-area: "title"
}

#signup-user,
#signup-pw,
#signup-emai {
    grid-area: "input"
}

#signin-btn,
#signup-btn {
    grid-area: "submit"
}

/* -------- DASHBOARD CONTAINER -------- */

.mc__dashboard {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 2em;
    justify-content: center;
}

.sc__dashboard {
    padding: 40px;
    justify-content: end;
    justify-items: center;
    
}


.profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

/* -------- HOMEPAGE CONTAINER -------- */

.mc__homepage {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    height: 80vh;
    text-align: center;
}

.sc__homepage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-items: center; */
    width: 70vw;
}

/* .event-collection__homepage {
    display: flex;
    flex-direction: row;
} */

/* -------- SEARCH CONTAINER ------- */

.mc--search {
    display: flex;
    flex-direction: row;
    height: fit-content;
    padding: 30px;
}

/* -------- EVENT CONTAINER -------- */

.mc__event {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    justify-content: center;
    padding:  0 50px 50px 50px;
    
}

.top { grid-column: span 2}

.sc__event {
    background-color: var(--secondary);
    padding: 20px;
    margin: 0 20px;
}

.message-box {
    background-color: rgb(182, 250, 255);
    border-radius: 5px;
    padding: 3px;
}

.format__message-recieved {
    justify-content: start;
    justify-self: stretch;
}

.format__message-sent {
    justify-content: end;
}

.format__details-join {
    justify-content: start;
}

.format__details-manage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

/* -------- EVENT COLLECTION CARDS -------- */
.event-collection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* grid-auto-rows: minmax(1fr 2fr);
    justify-items: stretch;
    grid-gap: 1em; */
    /* grid-auto-columns: auto; */
    margin: 0 40px;
}


.event-collection a {
    text-decoration: none;
    color: var(--text__main);
}

.event-card {
    position: relative;
    background-color: var(--secondary);
    border-radius: 15px;
    margin: 0 1rem 1rem 1rem;
    padding: 20px;
    max-width: 7rem;
    /* box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2),
        0 0 10px 10px rgba(0, 0, 0, 0.1); */
        box-shadow: 0 0 5px 5px var(--shadow2),
        0 0 10px 10px var(--shadow1);
    transition: .25s ease-in-out;
}

.event-card:hover {
    transform: scale(105%);
    box-shadow: 0 0 10px 10px var(--shadow1),
        0px 10px 30px var(--shadow45);
    /* box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1),
        0px 10px 30px rgba(0, 0, 0, 0.45); */
}

/* ---------------- CONTENT ---------------- */
.title {
    text-align: center;
    font-size: larger;
    letter-spacing: 2.5;
    line-height: 2rem;
    color: var(--text__title)
}

.section-title {
    font-size: 50px;
    padding-bottom: 10px;
    color: var(--text__section-title);
    border-bottom: 1px solid var(--text__section-title);
}

.input {
    margin: 5px;
    padding: 5px;

    /* max-height: fit-content; */
    border: none;
    color: var(--text__invert);
    background-color: var(--base);
    border-radius: 15px;
    opacity: .75;
    transition: .1s ease-in-out;
}

.input::placeholder {
    padding-left: 10px;
    letter-spacing: 1px;
    color: rgb(77, 77, 77);
    opacity: .5;
}

.input:hover,
.input:focus {
    opacity: 1;
}

/* -------- EVENT CONTENT -------- */

.event {
    color: var(--text__main);
    letter-spacing: 2px;

    /* border-radius: 15px; */
    transition: .3s ease-in-out;
}

.event:hover,
.event:focus {
    color: var(--text__invert);
}

/* -------- DASHBOARD CONTENT ------- */

.username {
    font-size: 1.5em;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: var(--text__logo);
    font-family: feastOfFlesh;
    -webkit-text-stroke: 1px #000000;
}

.portrait {
    height: 5.5rem;
    width: 5.5rem;
    background-color: var(--base);
    border-radius: 50%;

}


/* -------- BUTTONS / A-TAGS -------- */
.add-btn,
.delete-btn,
.edit-btn,
.submit-btn {
    color: var(--text-light);
    border: none;
    margin: 10px;
    padding: 7px 10px;
    width: fit-content;
    border-radius: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: background-position .5s ease-in-out .1s,
        box-shadow .3s ease-in-out;
}

.add-btn{
    background-image: var(--add-gradient);
    background-size: 400%;
    background-position: left;
    box-shadow: inset 0 0 15px 10px var(--add-color);
}
.delete-btn{
    background-image: var(--delete-gradient);
    background-size: 400%;
    background-position: left;
    box-shadow: inset 0 0 15px 10px var(--delete-color);
}
.edit-btn{
    background-image: var(--edit-gradient);
    background-size: 400%;
    background-position: left;
    box-shadow: inset 0 0 15px 10px var(--edit-color);
}
.submit-btn {
    background-image: var(--submit-gradient);
    background-size: 400%;
    background-position: left;
    box-shadow: inset 0 0 15px 10px var(--submit-color);
}

.add-btn:hover,
.delete-btn:hover,
.edit-btn:hover,
.submit-btn:hover {
    cursor: pointer;
    background-position: right;
}


.edit-tag {
    position: absolute;
    top: 0;
    left: -16px;
    width: 100%;
    z-index: 1;
    margin: 0 1rem;
    padding: 5px 60px;
    background-color: var(--edit-color);
    color: var(--text__main);
    border: none;
    border-radius: 15px 15px 0 0;
    font-weight: bold;
    letter-spacing: 2px;
    transition: .25s;
}

.edit-tag:hover,
.edit-tag:focus {
    cursor: pointer;
    background-color: var(--invert);
    color: var(--text__main);

}

.contact-btn {
    margin: 5px;
    background-color: var(--primary);
    color: var(--secondary);
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: .3s ease-in-out;
}

.contact-btn:hover,
.contact-btn:focus {
    cursor: pointer;
    background-color: var(--invert);
    color: var(--text-light);
}

.close-btn {

    cursor: pointer;
    padding: 0 10px;
    width: fit-content;
    height: fit-content;
    border: none;
    background-color: var(--invert);
    border-radius: 50%;
    color: var(--text__main);
    font-size: 2rem;
    position: relative;
    z-index: 1;
    transition: .3s ease-in-out;
}

.close-btn::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 15%;
    left: 11%;
    width: 80%;
    height: 80%;
    background-color: var(--secondary);
    border: none;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px var(--shadow);
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.close-btn:hover,
.close-btn:focus {
    color: var(--invert);
}

.close-btn:hover::before,
.close-btn:focus::before {
    opacity: 1;

}

/* -------- MODAL -------- */

/* the modal (background) */
.modal {
    /* hidden by default */
    display: none;
    /* stay in place */
    position: fixed;
    /* sit on top */
    z-index: 5;
    /* padding on all sides*/
    padding-top: 100px;
    /* location of the box */
    left: 0;
    /* location of the box */
    top: 0;
    /* full width */
    width: 100%;
    /* full height */
    height: 100%;
    /* black with opacity */
    background-color: rgba(172, 167, 246, 0.3);
    backdrop-filter: blur(5px);
}

.modal-content {
    padding-top: 15px;
    margin: auto;
    width: 50%;
    height: 50%;
    background-color: var(--invert);
    /* border: 5px solid var(--invert); */
    border-radius: 15px;
    /* color: var(--accent); */
    box-shadow: 0 0 30px 30px var(--shadow3),
        0 0 15px 15px var(--shadow4);
    /* box-shadow: 0 0 30px 30px rgba(0, 0, 0, 0.3),
        0 0 15px 15px rgba(0, 0, 0, 0.4); */
}

#oneline,
#oneline--close-modal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#oneline--close-modal {
    padding: 0 15%;
}

.circle1,
.circle2,
.circle3,
.circle4 {
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    top: 150px;
    left: -150px;
    height: 350px;
    width: 350px;
    background-color: var(--circle);
}

.circle2 {
    bottom: 15px;
    right: 200px;
    height: 300px;
    width: 300px;
    background-color: var(--circle);
}

.circle3 {
    top: 300px;
    right: 50px;
    height: 150px;
    width: 150px;
    background-color: var(--circle);
}

/* CURRENT HOVER */
/* box-shadow: 0px 0px 5px 5px var(--accentO);
    background-color: var(--accentO);
    border-radius: 15px;

/* IDEA FOR HOVER EFFECT */
/* .event:hover {
    box-shadow: 0px 0px 5px 5px var(--secondary);
    background-color: var(--secondary);

} */